torch
torchvision
torchaudio
transformers
tensorboard

accelerate
soundfile
pillow
scipy
backoff
peft
soundfile

scikit-learn
numpy
pandas

omegaconf
hydra-core
pyyaml
tqdm

packaging

google-cloud-storage